extends css

snippet toc
	toClamp(${1:min}, ${2:max}, ${3:375}, ${4:1920});


snippet tor
	toRem(${1});

snippet tr
	toRem(${1})
snippet hover
	&:hover {
		${1}
	}
	
snippet med "media query"
	@include mediaSize(${1}) {
    ${2}	
	}

snippet ts "transition with params"
	@include transition(${1});

